

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.planet-portrait {
	height:150px;
	width:150px;
}

#axis {
	width: 80%;
}












